.popover {
  position: fixed;
  background-color: #ececec;
  border: 1px solid #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 999; /* Ensure popover appears above other content */
  border-radius: 1rem;
}

.popover_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover_header h3 {
  margin: 0;
  font: inherit;
  color: #000;
}

.popover_body {
  /* Add styles as needed */
}

.close_btn {
  float: right;
  border: none;
  color: #000;
  background-color: inherit;
}
